#monkey {
    border: 1px solid black;
    width: 520px;
    height: 400px;
    padding: 5px;
    text-align: center;
}

.monkey {
    width: 500px;
    height: 300px;
}

.monkey:hover {
    clip-path: circle(150px at center);
}

.monkey:active {
    clip-path: polygon(50% 0%, 80% 100%, 0 40%, 100% 40%, 20% 100%);
}

#bart {
    margin-top: 5px;
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 300px;
    padding: 5px;
}

