.block {
    position: relative;
    top: 150px;
    left: 100px;
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 50%;
    background: linear-gradient(to bottom, black 0%, yellow 100%);
    animation: anim 10s linear infinite;
}

@keyframes anim {
    15% {
        border-radius: 0;
        background: linear-gradient(to bottom, black 0%, yellow 100%);
        transform: scale(1) rotate(0);
    }
    30% {
        border-radius: 0;
        background: linear-gradient(to bottom, black 0%, yellow 100%);
        transform: scale(1) rotate(0);
    }
    45% {
        border-radius: 0;
        background: linear-gradient(to bottom, black 0%, yellow 100%);
        transform: scale(1.5, 2) rotate(0);
    }
    60% {
        border-radius: 0;
        background: linear-gradient(to bottom, black 0%, yellow 100%);
        transform: scale(1.5, 2) rotate(90deg);
    }
    75% {
        border-radius: 0;
        background: linear-gradient(to bottom, yellow 0%, grey 100%);
        transform: scale(1.5, 2) rotate(90deg);
    }
    90% {
        border-radius: 50%;
        background: linear-gradient(to bottom, yellow 0%, grey 100%);
        transform: scale(1) rotate(90deg);
    }
}