.main {
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    min-width: 1170px;
    height: 885px;
    background: url(../img/back.png) 50% 50% no-repeat;
}

.image .container {
    position: relative;
    height: 100%;
}

.image_title {
    position: absolute;
    top: 265px;
    left: 215px;
    font-size: 42px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.image_subtitle {
    position: absolute;
    top: 329px;
    left: 324px;
    color: #FFF;
    font-size: 33px;
    font-weight: lighter;
}

.image-preview {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 124px;
    right: 0;
}

.image-preview_item {
    position: relative;
    width: 322px;
    height: 241px;
}

.image-preview_like {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    opacity: 0.9;
}

.image-preview_like span {
    margin-left: 10px;
}

.image-preview_like-green {
    background-color: #8aca51;
}

.image-preview_like-yellow {
    background-color: #feeb75;
}

.image-preview_arrow {
    width: 111px;
    height: 241px;
    background: url(../img/arrow.png) 50% 50% no-repeat;
    background-color: #f4f4f4;
}

.image-preview_arrow:hover{
    background-color: white;
}
.about {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.about-item {
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
}

.about-item_left {
    width: 140px;
}

.about-item_left {
    text-align: right;
}

.about-item_right {
    width: calc(100% - 140px);
    padding: 0 0 0 30px;
    box-sizing: border-box;
}

.about-item_title {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 24px;
}

.about-item_text {
    font-size: 16px;
    font-weight: lighter;
    text-align: justify;
}

.footer {
    height: 180px;
    width: 100%;
}