.content {
    height: 880px;
    width: 1177px;
    margin-left: auto;
    margin-right: auto;
}

.main_image {
    background: url(../img/iback.jpg) 50% 50% no-repeat;
    height: 900px;
}

.pictureBack {
    display: flex;
    position: relative;
    width: 100%;
}

.inner-content {
    position: absolute;
}

.inner-pics {
    position: absolute;
    bottom: 0;
}

.inner-content>h1 {
    position: relative;
    top: 568px;
    left: 617px;
    text-shadow: 1px 1px 8px rgba(1, 1, 1, 0.15);
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    line-height: 80.58px;
    text-transform: uppercase;
}

.inner-content>h2 {
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.15);
    color: #fff;
    font-size: 45px;
    font-weight: 300;
    line-height: 80.58px;
}

#design1 {
    width: 322px;
    height: 241px;
    top: 823px;
    left: 825px;
}

#design2 {
    width: 322px;
    height: 241px;
    top: 823px;
    left: 1147px;
}

#nav-back {
    width: 130px;
    height: 241px;
    top: 823px;
    left: 1469px;
    background: url(../img/arrow.png) 50% 50% no-repeat #f4f4f4;
}

#arrow {
    width: 23px;
    height: 40px;
    top: 924px;
    left: 1513px;
    background-color: #d4d4d4;
}

article {
    display: flex;
    position: absolute;
    color: #6d6e71;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

article>div {
    width: 50%;
}

#topic1 {
    margin-left: 20%;
}

#topic2 {
    margin-right: 20%;
}

h2 {
    color: #6d6e71;
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
}