@media only screen and (max-width : 768px) {
    * {
        padding: 0
    }

    .content,
    .headerRight {
        display: none;
    }

    .pictureBack {
        display: inline;
    }



    .bar {
        background: #a5fdcf;
        border-radius: 5px;
        border: 1px solid #129d52;
        margin: 3px auto;
        width: 95%;
        height: 110px;
    }

    #logo {
        position: relative;
        display: flex;
        justify-content: center;
    }

    article {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }
}