@media only screen and (max-width : 900px) {
    .container {
        width: 100%;
    }

    .header-icon,
    .header-menu {
        display: none;
    }

    .header-wrapper {
        border: 0;
    }

    .header-line_top {
        height: 0;
    }

    .header-menu-tablet {
        display: inline-block;
        width: 70px;
        height: 70px;
        background: url(../img/menu-mobile.png) 50% 50% no-repeat;
    }

    .header-line_bottom {
        height: 97px;
        padding: 0 40px;
        box-sizing: border-box;
    }

    .header-logo {
        width: 200px;
        height: 50px;
        position: absolute;
        top: 20px;
        left: calc(50% - 100px);
    }

    .image-preview {
        display: none;
    }

    .image {
        height: 736px;
        min-width: 100%;
    }

    .image_title {
        left: 20%;
    }

    .image_subtitle {
        left: 25%;
    }

    .about {
        flex-direction: column;
        width: 80%;
        margin-top: 40px;
    }

    .about-item {
        width: 100%;
    }

    .footer {
        height: 40px;
    }
}