.nav {
    height: 90px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-left>li {
    position: relative;
}

.nav-right {
    float: right;
}

.nav-item {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    line-height: color: #6d6e71;
    padding: 30px 10px;
    display: inline-block;
}

.nav-item:hover {
    text-transform: uppercase;
    color: #1faae2;
    transition: 0.5s;
}

.nav-item:hover.nav-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1faae2;
    bottom: 0px;
    left: calc(50% - 10px);
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1faae2;
    margin-left: 438px;
}