#red {
    background: red;
}

#green {
    background: green;
}

#blue {
    background: blue;
}

#black {
    color: white;
    background-image: url(https://st.depositphotos.com/1470939/1877/i/450/depositphotos_18770841-stock-photo-abstract-purple-background-or-fabric.jpg);
}


#size1 {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

#size2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 200;
}

#size3 {
    font-size: 2em;
}

#size4{
    font-size: 1.5rem;
}

#size5 {
    font-size: 177%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
