.wrapper {
    display: grid;
}

header {
    background: lightblue;
    grid-template-columns: 1fr;
    padding: 1em;
}

section {
    display: grid;
    background: lightgreen;
    grid-column: 1/3;
    grid-gap: 1em;

}

article {
    background: white;
    margin: auto;
}

aside {
    background: pink;
    display: grid;
    grid-column: 3;
    grid-row: 1/3;

}

header,
article,
section,
aside {
    padding: 1rem;
}
