div {
    width: 90%;
    height: 70%;
}

#first {
    border: 2px solid #000;
}

#second {
    outline: 2px solid #000;
}

#third {
    box-shadow: 0 0 0 3px black;
}

#fourth:hover {
    outline-style: dashed; 
    outline-color: black; 
    border-radius: 10px;
    background: grey;
    color: aliceblue; 
}

#fifth {
    border: 30px solid;
    padding: 10px;
    border-image: url(http://htmlbook.ru/example/images/bg-image.png) 30 round round;
}
