.ball {
  width: 100px;
}

.ball-move {
  position: absolute;
  animation: moveX 1s linear 0s infinite alternate, moveY 4s linear 0s infinite alternate;
}

@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 330px;
  }
}

@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 170px;
  }
}

.box {
  background: url(img/flag.png) 50% 50% no-repeat;
  width: 400px;
  height: 250px;
  border-right: 10px solid rgb(0, 0, 0);
  border-left: 10px solid rgb(0, 0, 0);
}