.generalSettings {
    text-align: center;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.tableHead,
#customer {
    text-transform: uppercase;
}

th,
td {
    border: solid 1px white;
    padding: 5px;

}

td {
    height: 2em;
}
