.generalSettings {
    text-align: center;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.tableHead,
#customer {
    text-transform: uppercase;
}

tr :first-child {
    text-transform: capitalize;
}

.generalSettings tr:nth-child(odd) {
    background-color: #e4ebf3;
}

.generalSettings tr:nth-child(even) {
    background-color: #f2f6fa;
}

.generalSettings tr:hover {
    background: gray;
}

th,
td {
    border: solid 1px white;
    padding: 5px;

}

td {
    height: 2em;
}