.form {
    padding: 10px
}

#formTitle {
    width: 90px;
    height: 30px;
    position: absolute;
    background-color: white;
    top: 3px;
    left: 40px;
}

.innerDivs {
    margin: 10px;
    padding: 20px;
    width: 70%;
    border: 1px solid grey;
}

.intoForm {
    margin: 10px;
    padding: 10px;
    width: 70%;
  }

#contactInfo {
    width: 140px;
    height: 30px;
    position: absolute;
    background-color: white;
    top: 700px;
    left: 40px;
}
