* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.outerBorder {
    width: 271px;
    height: 80px;
    border: 2px solid;
    border-color: #666666;
    border-radius: 20px;
}

.middleBorder {
    margin: 1.5px;
    width: 255px;
    height: 65px;
    border: 6px solid;
    border-color: #cccccc;
    border-radius: 18px;
}

.checkbox {
    width: 253px;
    height: 61px;
    border: 1.5px solid;
    border-radius: 12px;
    border-color: #acacac;
    box-shadow: 0 0.2em 0.5px rgba(88, 88, 88, 0.5);
    text-align: center;
    background: linear-gradient(to top, #aeaeae, #e1e1e1);
}

p {
    margin: 5px;
    position: relative;
    text-align: auto;
    font-size: 25px;
    color: #545454;
}

.star {
    text-align: auto;
    color: #898989;
    font-size: 30px;
}