.container {
    width: 1170px;
    margin: 0 auto;
}


.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-line_top {
    height: 217px;
}

.header-logo {
    width: 403px;
    height: 93px;
    background: url(../img/logo.png) 50% 50% no-repeat;
}

.header-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 230px;
    margin-top: 40px;
}

.header-icon_item {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #6e6f72;
}

.header-icon_item:hover {
    fill: #31b1e4;
}

.header-icon_item-phone,
.header-icon_item-mail {
    position: relative;
}

.header-icon_item-mail::before,
.header-icon_item-phone:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 1px;
    height: 24px;
    background-color: #bcbec3;
}

.header-icon_item-mail::before {
    left: -20px;
}

.header-icon_item-phone::after {
    right: -20px;
}

.header-icon_item-location {
    cursor: pointer;
    position: relative;
}

.header-icon_item-location:hover.header-icon_item-location::before {
    content: attr(data-info);
    position: absolute;
    top: -80px;
    padding: 14px 20px;
    font-size: 16px;
    color: rgba(109, 110, 113, 255);
    border: 1px solid #d4d4d5;
    border-radius: 4px;
    white-space: nowrap;
}

.header-icon_item-location:hover.header-icon_item-location::after {
    content: '';
    position: absolute;
    top: -38px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border-left: 1px solid #d4d4d5;
    border-bottom: 1px solid #d4d4d5;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.header-wrapper {
    border-top: 1px solid #eceef4;
}

.header-menu ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.header-menu-tablet {
    display: none;
}

.header-menu_item {
    position: relative;
    display: inline-block;
    padding: 34px 20px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(109, 110, 113, 255);
    line-height: 16px;
    cursor: pointer;
}

.header-menu_item:not(:last-of-type) {
    border-right: 1px solid #eceef4;
}

.header-menu_item:hover {
    color: rgba(31, 170, 226, 255);
    text-transform: uppercase;
}

.header-menu_item:hover.header-menu_item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 18px);
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 8px solid #1faae2;
}

.header-search_item {
    width: 200px;
    padding: 4px 8px;
    border: 0;
    font-size: 15px;
    color: rgba(109, 110, 113, 255);
}

.header-search_img {
    position: relative;
    left: -4px;
    top: 8px;
    display: inline-block;
    width: 25px;
    height: 25px;
}